
<div class="container">
    <h4 class="display-4 text-center">Ocenjivanje</h4>
  
    <div class="container">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Ime </th>
            <th>Prezime</th> 
            <th>Naziv Predmeta</th>  
            <th>Datum ispita</th>    
            <th>Unesite broj bodova</th>   
            <th></th> 
          </tr>
        </thead>
        <tbody>

          
                <tr *ngFor="let io of ispitiZaOcenjivanje">
                    <td>{{io.studentIme}}</td>
                    <td>{{io.studentPrezime}}</td>
                    <td>{{io.nazivPredmeta}}</td>   
                    <td>{{io.datumIspita}}</td>

                </tr>


      </table>
     
    </div>


