
<div class="container">
    <h4 class="display-4 text-center">Tok studija</h4>
    <div class="row  mt-3 mb-3" >
      <!--<button type="button" class="btn btn-primary" (click)="goToOnRightRoute('addStudijskaGodina')">Dodaj studijsku godinu</button>-->
    </div>
    <div class="container">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Pocetak studija</th>
            <th>Kraj studija</th>
            <th>Nacin finansiranja</th>
            <th>Godina studija</th>
            <th>Skolska godina</th> 
            <!-- <th></th> -->
                  
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let studijskaGodina of studGodine">
                <td>{{studijskaGodina.id}}</td>
                <td>{{studijskaGodina.pocetakStudija}}</td>
                <td>{{studijskaGodina.krajStudija}}</td>
                <td>{{studijskaGodina.nacinFinansiranja}}</td>
                <td>{{studijskaGodina.godinaStudija}}</td>
                <td>{{studijskaGodina.skolskaGodina}}</td>
                
                
            </tr>
        </tbody>
      </table>
     
    </div>

