
<div class="container">
    <h4 class="display-4 text-center">Studenti</h4>
    
      <div class="row  mt-3 mb-3" >
        <button type="button" class="btn btn-primary" (click)="goToOnRightRoute('addStudent')">Dodaj studenta</button>
      </div>
    
    <div class="container">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Broj indeksa</th>
            <th>Email</th>
            <th>Izmeni</th>
            <th>Obrisi</th>
            <th>Dodaj studijsku godinu</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of studenti">
            <!--<td>{{ student.ime }}</td>-->
            <td>
              <div (click)="goToOnRightRouteParams('student', student.id)">
                {{student.ime}}
              </div>
              <!-- <a href="profesori/{{ profesor.id }}"></a> -->
            </td>
            <td>{{ student.prezime }}</td>
            <td>{{ student.indeks }}</td>
            <td>{{ student.email }}</td>
            
      <td class="h5"><button type="button" class="btn btn-primary">Izmeni</button></td>
      <td class="h5"><button type="button" class="btn btn-primary" (click)="delete(student.id)">Obrisi</button></td>
      <td class="h5"><button type="button" class="btn btn-primary" (click)="goToOnRightRoute('addStudGodinu')">Dodaj</button></td>
            
          </tr>
        </tbody>
      </table>
     
    </div>

  