<div
class="col-md-8 offset-md-2"
>
  <div class="form-row">
    <div class="col-md-5 offset-md-3">
      <label for="inputIme">Ime</label>
      <input [(ngModel)]="ime" type="ime" class="form-control" id="inputIme" placeholder="Ime">
    </div>
    <div class="col-md-5 offset-md-3">
      <label for="inputPrezime">Prezime</label>
      <input [(ngModel)]="prezime" type="prezime" class="form-control" id="inputPrezime" placeholder="Prezime">
    </div>
    <div class="col-md-5 offset-md-3">
      <label for="inputUser">Username</label>
      <input [(ngModel)]="user" type="user" class="form-control" id="inputUser" placeholder="User">
    </div>
    <div class="col-md-5 offset-md-3">
      <label for="inputPassword">Password</label>
      <input [(ngModel)]="password" type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
  </div>

  <div class="col-md-5 offset-md-3">
  <button type="submit" class="btn btn-primary"
   (click)="onSubmit()" >Dodaj profesora</button>
  </div> <!-- [routerLink]="['/profesor']" -->
</div>