<div
class="col-md-8 offset-md-2"
>
  <div class="form-row">
    <div class="col-md-5 offset-md-3">
      <label for="inputDatum">Datum</label>
      <input [(ngModel)]="transakcija.datum" type="datum" class="form-control" id="inputDatum" placeholder="Datum">
    </div>
    <div class="col-md-5 offset-md-3">
      <label for="inputSvrha">Svrha</label>
      <input [(ngModel)]="transakcija.svrha" type="svrha" class="form-control" id="inputSvrha" placeholder="Svrha">
    </div>
    <div class="col-md-5 offset-md-3">
      <label for="inputPromenaStanja">Promena stanja</label>
      <input [(ngModel)]="transakcija.promenaStanja" type="promenaStanja" class="form-control" id="inputPromenaStanja" placeholder="PromenaStanja">
    </div>
 
  </div>

</div>