
<div class="container">
  <h4 class="display-4 text-center">Predmeti koje student slusa</h4>

  <div class="container">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Oznaka Predmeta</th>
          <th>Naziv predmeta</th> 
          <th>Broj ESPB bodova</th>     
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let predmet of pohadjaPredmet">
              <td>{{predmet.oznaka}}</td>
              <td>{{predmet.naziv}}</td>
              <td>{{predmet.espb}}</td>
          </tr>
      </tbody>
    </table>
   
  </div>

