
<ng-container *ngIf="uloga">
  <ul ngbNav #nav="ngbNav" [activeId]="3" class="nav-tabs justify-content-center" >
    <li [ngbNavItem]="1"  *ngIf="uloga === 'STUDENT'"
      (click)="goToOnRightRouteParams('student', idStudenta)"> <!--dodati id od ulogovanog studenta ugoToOnRightRoute(student/UologovanStudentID) -->
      <a ngbNavLink>Profil Studenta</a>
    </li>
  
    <li *ngIf="uloga === 'PROFESOR'" [ngbNavItem]="2" 
        (click)="goToOnRightRouteParams('profesori', idProfesora)"> <!--dodati id od ulogovanog studenta ugoToOnRightRoute(student/UologovanStudentID) -->
      <a ngbNavLink>Profil Profesora</a>
    </li>
    <!--dodati rutu ka profilu korisnika-->
    <!-- <li [ngbNavItem]="1" (click)="goToOnRightRoute('korisnici')">
      <a ngbNavLink>Korisnici</a>
    </li>  -->

    <li [ngbNavItem]="3" (click)="goToOnRightRoute('profesori')">
      <a ngbNavLink><b>Profesori</b></a>
    </li>
    <li [ngbNavItem]="4" (click)="goToOnRightRoute('student')">
      <a ngbNavLink>Studenti </a>
    </li>
    <li [ngbNavItem]="5" *ngIf="uloga !== 'PROFESOR'" (click)="goToOnRightRoute('dokument')">
      <a ngbNavLink>Dokumenti </a>
    </li>
    <li [ngbNavItem]="6" *ngIf="uloga === 'STUDENT'" (click)="goToOnRightRouteParams('finansijskaKartica', idStudenta)">
      <a ngbNavLink>Finansijska kartica </a>
    </li>
    <li *ngIf="uloga === 'PROFESOR'" [ngbNavItem]="7" (click)="goToOnRightRouteParams('predmet', idProfesora)">
      <a ngbNavLink>Predmeti </a>
    </li>
    <li *ngIf="uloga === 'PROFESOR'" [ngbNavItem]="8" (click)="goToOnRightRouteParams('ocenjivanjeIspita', idProfesora)">
      <a ngbNavLink>Ocenjivanje </a>
    </li>
    <li *ngIf="uloga === 'ADMIN'"[ngbNavItem]="9" (click)="goToOnRightRoute('predmeti')">
      <a ngbNavLink>PREDMETI </a>
    </li>
    <li *ngIf="uloga === 'STUDENT'" [ngbNavItem]="10" (click)="goToOnRightRouteParams('tokStudija' , idStudenta)">
      <a ngbNavLink>Studijska godina </a>
    </li>
    <li *ngIf="uloga === 'STUDENT'" [ngbNavItem]="11" (click)="goToOnRightRouteParams('pohadjanja' , idStudenta)">
      <a ngbNavLink>Nastava </a>
    </li>
    <li ngbDropdown class="nav-item">
      <a href  *ngIf="uloga === 'STUDENT'" (click)="false" class="nav-link" ngbDropdownToggle>Predmeti</a>
      <div ngbDropdownMenu>
        <button ngbDropdownItem *ngIf="uloga === 'STUDENT'" (click)="goToOnRightRouteParams('polozeniIspitiZaStudenta', idStudenta)">Polozeni predmeti</button>
        <button ngbDropdownItem *ngIf="uloga === 'STUDENT'" (click)="goToOnRightRouteParams('NepolozeniIspitiZaStudenta', idStudenta)">Nepolozeni predmeti</button>
        <!-- <button ngbDropdownItem *ngIf="uloga === 'STUDENT'" (click)="goToOnRightRoute('predmeti')">predmeti</button> -->

        <!-- <button ngbDropdownItem>Something else here</button>
        <div class="dropdown-divider"></div>
        <button ngbDropdownItem>Separated link</button> -->
      </div>
    </li>
    <li *ngIf="uloga !== 'PROFESOR'" ngbDropdown class="nav-item">
      <a href (click)="false" class="nav-link" ngbDropdownToggle>Ispiti</a>
      <div ngbDropdownMenu>
        <button ngbDropdownItem (click)="goToOnRightRoute('ispiti')">Ispiti</button>
        <button  *ngIf="uloga === 'STUDENT'" ngbDropdownItem (click)="goToOnRightRoute('ispitniRokovi')">Prijavljivanje ispita</button>
        <button *ngIf="uloga === 'STUDENT'" ngbDropdownItem (click)="goToOnRightRoute('listaPrijavljenihIspita')">Prijavljeni ispiti</button>
        <button *ngIf="uloga === 'STUDENT'" ngbDropdownItem (click)="goToOnRightRouteParams('istorijaPolaganja', idStudenta)">Istorija polaganja</button>
        <!-- <button ngbDropdownItem>Something else here</button>
        <div class="dropdown-divider"></div>
        <button ngbDropdownItem>Separated link</button> -->
      </div>
    </li>

    <li ngbNavItem [disabled]="false" class="ms-auto" (click)="logout()">
      <a ngbNavLink>Logout</a>
      <ng-template ngbNavContent>
  
      </ng-template>
    </li>
  </ul>


  <div [ngbNavOutlet]="nav" class="mt-2"></div>

</ng-container>

<router-outlet></router-outlet>