
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Izmena pohadjanja predmeta</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Pocetak</label><input [(ngModel)]="pohadjanjePredmeta.pocetak" type="date" class="form-control" placeholder="pocetak" value=""></div>
                    <div class="col-md-6"><label class="labels">Kraj</label><input [(ngModel)]="pohadjanjePredmeta.kraj" type="date" class="form-control" value="" placeholder="kraj"></div>
                    <div class="col-md-6"><label class="labels">Polozen</label><input [(ngModel)]="pohadjanjePredmeta.polozen" type="checkbox"  class="form-control" value="" placeholder="polozen"></div>

                </div>

               
                
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" (click)="edit()" type="button">sacuvaj izmene</button></div>
            </div>
        </div>
        
    </div>
</div>

    



