<div
class="col-md-8 offset-md-2"
>
<div class="form-row" *ngIf="predmet">
  <div class="form-row">
    <div class="col-md-5 offset-md-3">
      <label for="inputIme">Naziv Predmeta</label>
      <input [(ngModel)]="predmet.naziv" type="ime" class="form-control" id="inputIme" readonly >
    </div>
    <div class="col-md-5 offset-md-3">
      <label for="inputPrezime">Oznaka</label>
      <input [(ngModel)]="predmet.oznaka" type="prezime" class="form-control" id="inputPrezime" readonly>
    </div>
    <div class="col-md-5 offset-md-3">
      <label for="inputUser">Broj ESPB bodova</label>
      <input [(ngModel)]="predmet.espb" type="user" class="form-control" id="inputUser" readonly>
    </div>
    <div class="col-md-5 offset-md-3">
      <label for="inputUser">Pocetak</label>
      <input [(ngModel)]="predmet.predmetInstancaDTO[0]['pocetak']" type="user" class="form-control" id="inputUser" readonly>
    </div>
    <div class="col-md-5 offset-md-3">
      <label for="inputPassword">Kraj</label>
      <input [(ngModel)]="predmet.predmetInstancaDTO[0]['kraj']" type="user" class="form-control" id="inputUser" readonly>
    </div>
    <div class="col-md-5 offset-md-3">
    <label for="inputUser">Izaberi Studenta</label>
    </div>
    <div>
      
      <select [(ngModel)]="selectedStudent"
      class="col-md-5 offset-md-3"
      (ngModelChange)="onChangeStudent($event)">
      <option [ngValue]="p" *ngFor="let p of studenti">{{p.ime + ' ' + p.prezime}}</option>
    </select>

    <!-- <select class="col-md-5 offset-md-3" aria-label="Default select">
      <option *ngFor="let s of studenti">{{s.ime + ' ' + s.prezime}}</option>
    </select> -->
    </div>
  </div>
</div>

  <div class="col-md-5 offset-md-3">
  <button type="submit" class="btn btn-primary" 
  [routerLink]="['/predmeti']"
   (click)="onSubmit()" >Dodaj studenta</button>
  </div>

  
  </div> 