<div
class="col-md-8 offset-md-2"
>
  <div class="form-row">

    <div class="col-md-5 offset-md-3">
      <label for="inputUser">Nacin finansiranja</label>
      <select [(ngModel)]="studijskaGodina.nacinFinansiranja" class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true">
        <option selected="selected">samofinansiranje</option>
        <option>budzet</option>
      </select>
    </div>
    <div class="col-md-5 offset-md-3">
      <label for="inputUser">Godina studija</label>
      <select [(ngModel)]="studijskaGodina.godinaStudija" class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true">
        <option selected="selected">1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>
    <div class="col-md-5 offset-md-3">
      <label for="inputUser">Student</label>
      <select [(ngModel)]="selectedStudent"
      class="col-md-5 offset-md-3"
      (ngModelChange)="onChangeStudent($event)">
      <option [ngValue]="p" *ngFor="let p of studenti">{{p.ime + ' ' + p.prezime}}</option>
    </select>

  </div>

  <div class="col-md-5 offset-md-3">
  <button type="submit" class="btn btn-primary"
   (click)="onSubmit()" >Dodaj studijsku godinu</button>
  </div> <!-- [routerLink]="['/student']" -->
</div>