<div
class="col-md-8 offset-md-2"
>
  <div class="form-row">
    <div class="col-md-5 offset-md-3">
      <label for="inputNaziv">Naziv</label>
      <input [(ngModel)]="ispit.naziv" type="naziv" class="form-control" id="inputNaziv" placeholder="naziv">
    </div>
    <div class="col-md-5 offset-md-3">
      <label for="datumVreme">Datum i vreme</label>
       <!-- <input [(ngModel)]="ispit.datumVreme" type="datumVreme" class="form-control" id="inputDatumVreme" placeholder="datum"> -->

       <input type="datetime-local" [(ngModel)]="datumVreme" id="datumVreme" />



    </div>

    <div class="col-md-5 offset-md-3">
      <select class="form-select" aria-label="Default select">
        <option *ngFor="let n of predmeti">{{n.naziv}}</option>
      </select>
    </div>

    <div>

    </div>

    <div class="col-md-5 offset-md-3">
      <label for="inputBrojBodova">Broj bodova</label>
      <input [(ngModel)]="ispit.brojBodova" type="brojBodova" class="form-control" id="inputBrojBodova" placeholder="bodovi">
    </div>
  </div>

  <div class="col-md-5 offset-md-3">
  <button type="submit" class="btn btn-primary"
   (click)="onSubmit()" >Dodaj ispit</button>
  </div>
</div>
