<div
class="col-md-8 offset-md-2"
>
  <div class="form-row">
    <div class="col-md-5 offset-md-3">
      <label for="inputNaziv">Naziv</label>
      <input [(ngModel)]="ispit.naziv" type="naziv" class="form-control" id="inputNaziv" placeholder="naziv">
    </div>
    <div class="col-md-5 offset-md-3">
      <label for="datumVreme">Datum i vreme</label>
       <!-- <input [(ngModel)]="ispit.datumVreme" type="datumVreme" class="form-control" id="inputDatumVreme" placeholder="datum"> -->

       <input type="date" [(ngModel)]="datumVreme" id="datumVreme" />



    </div>
<div class="col-md-5 offset-md-3">
  <label for="datumVreme">Izaberite predmet</label>
</div>
    <div class="col-md-5 offset-md-3">
      <!-- <select class="form-select" aria-label="Default select">
        <option *ngFor="let n of predmeti">{{n.naziv}}</option>
      </select> -->

      <select [(ngModel)]="selectedPredmet"
        aria-label="Default select"
        class="col-md-5 offset-md-3 form-select"
        (ngModelChange)="onChangePredmet($event)">
        <option [ngValue]="p" *ngFor="let p of predmeti">{{p.naziv}}</option>
      </select>
    </div>
    <div class="col-md-5 offset-md-3">
      <label for="datumVreme">Izaberite ispitni rok</label>
    </div>
    <div class="col-md-5 offset-md-3">
      <!-- <select class="form-select" aria-label="Default select">
        <option *ngFor="let i of ispitniRokovi">{{i.nazivRoka}}</option>
      </select> -->

      <select [(ngModel)]="ispitniRok"
        aria-label="Default select"
        class="col-md-5 offset-md-3 form-select"
        (ngModelChange)="onChangeIspitniRok($event)">
        <option [ngValue]="i" *ngFor="let i of ispitniRokovi">{{i.nazivRoka}}</option>
      </select>
    </div>
  </div>

  <div class="col-md-5 offset-md-3">
  <button type="submit" class="btn btn-primary"
  [disabled]="!ispit.naziv.length 
   
"
   (click)="onSubmit()" >Dodaj ispit</button>
  </div>
</div>
