<div
class="col-md-8 offset-md-2"
>
  <div class="form-row">
    <div class="col-md-5 offset-md-3">
      <label for="inputIme">Naziv</label>
      <input [(ngModel)]="korisnik.naziv" type="naziv" class="form-control" id="inputNaziv" placeholder="naziv">
    </div>
    <div class="col-md-5 offset-md-3">
      <label for="inputPrezime">Datum i vreme</label>
      <input [(ngModel)]="korisnik.datumVreme" type="datumVreme" class="form-control" id="inputDatumVreme" placeholder="datum">
    </div>
    
  </div>

  <div class="col-md-5 offset-md-3">
  <button type="submit" class="btn btn-primary"
   (click)="onSubmit()" >Dodaj korisnika</button>
  </div> 
</div>